.my-recipe, .create-recipe, .profile{
    padding:  20px;
}
hr{
    margin:  20px 0;
}
.my-recipe__top{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.5) ;
}
.my-recipe__title, .create-recipe__title{
    
    margin-bottom: 5px ;
}
.my-recipe__fitter{
    justify-content: space-between;
    display: flex;
}
.my-recipe__fitter > select{
    border-radius: 5px;
    outline: none;
    min-width: 200px;
}
.my-recipe-fitter__time-update{}
.my-recipe-fitter__time-cooking{}
.my-recipe-fitter__theme{}

.my-recipe__fitter-search{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0 5px;
    border-radius: 5px;
}
.my-recipe__search-icon{

    font-size: 1.4rem;
    color: var(--primary);
}
.my-recipe__search-input{

    caret-color: var(--primary);
    padding: 5px 0 ;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.my-recipe__content{
    padding: 20px 0;
}

/* item */
.my-recipes{
    width: 100%;
    margin: 20px 0;
    
}
.recipe-item{
    cursor: pointer;
    position: relative;
   
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px ;
    border: 1px solid rgba(0,0,0,0.2);
   
    
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: left;
    transition: all ease-in-out 0.3s;
}

.recipe-item:hover:after ,.recipe-item:hover .recipe-item__action {
    opacity: 1;
}

.recipe-item__img img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.my-recipe__info{
    font-size: 1.7rem;
}
.recipe-item__title{
    font-size: 2rem;
    margin: 4px 0;
}
.my-recipe__info p {
    line-height: 2.5rem;
}

.recipe-item::after{
    opacity: 0;
    position: absolute;
    top : 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px ;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: none;
    transition: all ease-in-out 0.3s;
}

.recipe-item__action{
    opacity: 0;
    position: absolute;
    z-index: 2;
    right: 50%;
    top : 40%;
    transform: translateX(50%);
    transition: all ease-in-out 0.3s;
}

.recipe-item__delete, .recipe-item__edit{
    padding: 10px;
    font-size: 2rem;
    background-color: transparent;
    color: rgb(141, 133, 133);
    opacity: 0.5;
    cursor: pointer;  
    
}
.recipe-item__delete:hover, .recipe-item__edit:hover {
    opacity: 1;
    animation: jounce 1s linear infinite;
}

@keyframes jounce{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
        
    }
}
.recipe-item__delete{
    margin-left: 5px;
    color: red;
}
.my-recipe__paging{
    margin-top: 20px ;
    color: var(--primary);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.my-recipe__paging span{
    color: #333;
}
.padding-icon{
    padding: 10px;
    cursor: pointer;
   
}
.padding-icon:hover{
    opacity: 0.8;
}

/* Create */
.create-recipe__item-content{
    width: 100%;
    margin: 10px 0;
}
.create-recipe__form-item{
    margin: 20px 0;
}
.create-recipe__themes-selected{
    display: flex;
    margin: 10px 0;
    margin-left: 10px ;
}
.create-recipe__theme-search-group{
    width: 40%;
    border: 1px solid  rgba(0,0,0,0.2) ;
    padding: 0 10px;
    

}
.create-recipe__theme-item{
    position: relative;
    display: flex;
    padding: 5px 10px;
    
    border-left: none ;
    background-color: rgb(220, 215, 215);
}
.create-recipe__theme-item i{
    color: #444;
    margin-left: 5px;
    cursor: pointer;
}
.create-recipe__theme-item i:hover{
    opacity: 0.7;
}

.create-recipe__theme-item::after{
    left: -10px;
    top: 0px;
    content: "";
    position: absolute;
    border-top:13px solid transparent;
    border-right:10px solid rgb(220, 215, 215);
    border-bottom:13px solid transparent;
   
}
.create-recipe__theme-item + .create-recipe__theme-item{
    margin-left: 20px;

}
.create-recipe__theme-plus-icon {
    color:var(--primary);
    
}
.create-recipe__theme-input{
    caret-color: var(--primary);
    padding: 5px 0;
    width: 90%;
    margin: 5px 0;
    border: none;
}



.create-recipe__theme-results{
    display: none;
    width: 40%;
    background-color: #fff;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
    border-radius: 3px ;
    border: 1px solid rgba(0,0,0,0.2) ;
}
.create-recipe__theme-results.active{
    display: block;
}
.create-recipe__search-theme-item{
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.09) ;
}

.create-recipe__search-theme-item:hover{
    cursor: pointer;
    background-color: rgba(141, 131, 131, 0.2);;
}
#create-recipe__name{
    display: block;
    padding: 5px;
    width: 40%;

}
.create-recipe__form-row{
    justify-content: space-between;
    display: flex;
}

.create-recipe__description{
    display: block;
    width: 40%;

}
#create-recipe__description{
    display: block;
    width: 100%;
}

.create-recipe__video, .create-recipe__images{
    display: block;
    width: 40%;
    margin-right: 20px ;
}
.create-recipe__image-label img{
    display: none;
    width: 100%;
    height: 100%;
}
.create-recipe__image-label img.active{
    display: block;
    
}
.create-recipe__video-group{
    position: relative;
}
.create-recipe__video-label{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-recipe__video--play .create-recipe__video-label{
    bottom: 0;
    width: 20px;
    height: 20px;
    padding: 20px;
    z-index: 2;
    right: 0;
    cursor: pointer;
}
.create-recipe__change-icon{
    color: var(--primary);
    display: none;
}
.create-recipe__video--play .create-recipe__video-label i {
    display: none;
}
.create-recipe__video--play .create-recipe__video-label .create-recipe__change-icon{
    display: block;
    font-size: 1.5rem;
}
#create-recipe__video-input, #create-recipe__image-input{
   z-index: -1px;
   position: absolute;
   width: 0;
   height: 0;
   
}

.create-recipe__video-group, .create-recipe__image-label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #333;
}
.create-recipe__image-label{
    min-height: 250px;
}
.create-recipe__video-tag{
    display: none;
    width: 100%;
    height: 100%;
}
.create-recipe__video--play .create-recipe__video-tag{
    display: block;
}
.create-recipe__add-icon{
    color: var(--primary);
    font-size: 5rem;
}

.create-recipe__stocks, .create-recipe__steps{
    margin: 10px 0;
}
.create-recipe__stock, .create-recipe__step{
    display: flex;
    margin: 10px 0;
}
.create-recipe__stock input, .create-recipe__step input{
    padding: 5px; 
}
.create-recipe__stock-name ,.create-recipe__step-content{
    min-width: 200px;
}
.create-recipe__stock-quantity{
    width: 100px;
    margin: 0 10px;

}
.create-recipe__step-hour{
    margin:0 10px;
    width: 88.3333333px;
}
.create-recipe__step-minute{
    margin-right: 10px;
    width: 88.3333333px;
}
.create-recipe__step-second{
    width: 88.3333333px;
}


.create-recipe__stock-btn-add, .create-recipe__step-btn-add{
    background-color: #fff;
    margin-top: 10px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.create-recipe__stock-btn-delete, .create-recipe__step-btn-delete {
    margin-left: 10px;
    padding: 5px;
    background-color: #fff;
    color: red;
    cursor: pointer;
    font-size: 2rem;
}

.create-recipe__stock-btn-add:hover, .create-recipe__step-btn-add:hover{
    opacity: 0.7;
}
.create-recipe__stock-add-icon{
    font-size: 2.5rem;
    margin: 10px;
}
#create-recipe__ration, #create-recipe__note{
    min-width: 200px;
    padding: 5px;
    margin-top: 10px;
}

.create-recipe__images-preview.active{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.create-recipe__images-preview.more .create-recipe__image-label--add-more{
   
    display: flex;
    
}
.create-recipe__image-label--add-more{
    display: none;
    box-sizing: border-box;
    padding: 10px 20px;
    margin : 1px;
    border: 1px solid var(--primary);
    align-items: center;
    cursor: pointer;
}
.create-recipe__images-preview img{
    width : 60%;
    margin : 1px;
    border: 1px solid var(--primary);
    cursor: pointer;

}
.create-recipe__images-preview img:hover{
    opacity: 0.8;
    transform: translateX(2px);
    transform: translateY(-2px);
}