.personal{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.header-personal{
    background-color: var(--primary);
    border-radius: 5px ;
    text-align: center;
    box-shadow: 0 0 4px rgb(97, 97, 97);
}

.personal-content{
    min-height: 1000px;
    background-color: var(--white);
    margin: 0 10px ;
    border-radius: 5px ;
    box-shadow: 0px 0.5px 3px #333;
}
.header-personal__info-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.header-personal_info{
    margin: 20px 0 20px ;
}
.header-personal__info-name {
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 400;
}
.navbar-list{
    text-align: left;
}
.navbar-list a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
    padding: 30px 40px;
}
.navbar-item{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.navbar-item:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color:#31c475;
}
.navbar-item + .navbar-item {
    border-top: none ;
}
