:root{
    --primary: #0FA958;
    --text : #333;
    --black : #000;
    --white : #fff;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
}